.studentOuterBox, .teacherOuterBox {
    /* background: linear-gradient(135deg, #F7CE4C 10%, #FFF3B0 10%, #F4A300 100%); */
    /* background-color: #FFFCBF; */
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0;
}

.studentinnerBox, .teacherInnerBox {
    background: rgba(000, 000, 000, 1.0);
    /* background-color: #E0E0E0; */
    padding: 30px;
    border-radius: 15px;
    border: 2px solid black;
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.studentinnerBox h2, .teacherInnerBox h2 {
    color: whitesmoke;
    margin-bottom: 25px;
    text-decoration: underline;
}
.studentinnerBox h3 , .teacherInnerBox h3{
    margin-top: 10px;
    color: whitesmoke;
}

.studentform, .teacherform {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 15px 20px;
    align-items: center;
    width: 100%;
}
.studentform p, .teacherform p{
    color: #f78787;
    text-align: center;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
}

.studentform label, .teacherform label {
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.studentform input, .studentform select , .teacherform input, .teacherform select {
    background-color: #4e4e4e;
    color: #F7CE4C;
    border: 3px solid #F7CE4C;
    outline: none;
    border-radius: 6px;
    font-size: 1.1rem;
    padding: 6px;
    border: 1px solid black;
    width: 100%; 
}
.teacherform textarea{
    resize: none;
}
.submitBtn {
    grid-column: span 2; 
    width: 200px;
    padding: 10px;
    font-size: 1.2rem;
    color:black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    justify-self: center; 
    margin-top: 20px;
    transition: 0.2s ease-in-out;
    border: 3px solid black;
    background-color: #F7CE4C;
    font-weight: bold;
}

.submitBtn:hover {
    background-color: #4e4e4e;
    color: #F7CE4C;
    border: 3px solid #F7CE4C;
    font-weight: bold;
    transform: scale(1.05);
}
.inputGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputGroup p{
    color: #f78787;
    font-size: 0.9rem;
    margin-top: 4px;
}

/* teacher parts are merge into them */





@media only screen and (max-width:768px){
    .studentinnerBox, .teacherInnerBox{
        width: 80%;
    }
}